<div style="text-align: center;">
  <%= link_to(add_to_cart_path(product_id: product) ,remote: true,method: :post, class: "btn-primary btn") do %>
    Comprar <i class="fa fa-shopping-cart"></i>
  <% end %>
</div>

